
#testimonials
{
    width: 100%;
    height: auto;
    background-color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    gap: 5em;
    box-sizing: border-box;
    padding: 5%;
}

.testimonials-title 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.testimonials-title h2 
{
    color: var(--primary);
    font-family: var(--font-family-1);
    font-size: var(--heading-size);

}

.testimonials-title p 
{
    color: var(--para-color);
    font-size:var(--para-size);
    font-family: var(--font-family-2);
}

.testimonials-title .four-circles 

{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.testimonials-title .four-circles span
{

    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: var(--primary);
}


.testimonials-content 
{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.testimonials-content .wrapper
{
    width:80%;
    height: 100%;
    overflow:hidden;
}

.testimonials-content .wrapper .slider 
{
    width: 100%;
    height: 100%;
    display: flex;
    scrollbar-width: none;
    translate: -100% 0;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.testimonials-content .wrapper .slider .card 
{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5%;
    /* transform: translateX(-100%); */
    /* translate:0% 0%; */
    
}


.testimonials-content .wrapper .slider .card  img 
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid rgb(54, 54, 54);
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}

.testimonials-content .wrapper .slider .card:hover img 
{
    border: 3px solid var(--primary);
    filter: grayscale(0);

}

.testimonials-content .wrapper .slider .card h2 
{
    color: var(--primary);
    font-size: 1.3rem;
    font-family: var(--font-family-1);
}


.testimonials-content .wrapper .slider .card h3 
{
    color: white;
    font-family: var(--font-family-2);
    font-size: 1rem;
}

.testimonials-content .wrapper .slider .card p 
{
    color: gray;
    font-size: 1.2rem;
    font-family: var(--font-family-2);
    display: flex;
    justify-content: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
 
}

.slider-indicator

{

   width: 200px;
   display: flex;
   align-items: center;
   /* border: 1px solid white; */
   gap: 1em;
   justify-content: center;
}

.slider-indicator span 
{
    width: 20px;
    height: 5px;
    background-color:rgb(52, 51, 51);
    transition: all 0.5s ease-in-out;

}

.slider-indicator .show
{
    background-color: var(--primary);
}

.sign-up-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: rgba(31, 31, 31, 0.774);
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 5% 5%;
}

.sign-up-title
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.sign-up-title h2 
{
    color:var(--primary);
    font-size: var(--heading-size);
    font-family: var(--font-family-1);
    word-spacing: 5px;
}

.sign-up-title p 
{
    color: var(--para-color);
    font-size: var(--para-size);
    font-family: var(--font-family-2);
}

.sign-up-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sign-up-btn input
{
    width: 300px;
    height: 50px;
    background: transparent;
    box-shadow: 0px 0px 3px white;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: var(--font-family-2);
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0 5px;
}

.sign-up-btn a{
    text-decoration: none;
}

.sign-up-btn a i 
{
    font-size: 3rem;
    color: var(--primary);
}

@media screen and (max-width:600px) {

    .sign-up-btn input
    {
        width: 200px;
    }
    
    .sign-up-btn a i 
    {
        font-size: 2rem;
    }
}