<section id="About">

    <div class="about-title">
        <h3>About Me</h3>
        <p>Professional Profile-There Is All About Me</p>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
        </div>
    <div class="about-content">
        <div class="about-image">
            <img src="static/assets/about.jpg" alt="">
        </div>
        <div class="about-details">
            <div class="about-name"><h3>I'm  Jenny  Sipher</h3></div>
            <div class="about-para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus assumenda, voluptas nostrum quasi eaque modi voluptatibus sed enim rem? Itaque veritatis eligendi, magnam doloremque vitae temporibus quae error odit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, sapiente illo, atque animi repellat blanditiis quisquam possimus repellendus! Temporibus ipsa ullam, ipsam delectus voluptatibus iure maiores laudantium doloremque!</p>
            </div>
            <div class="about-personal-details">
                  <div class="personal-details-col-1">
                    <ul>
                        <li>
                            <i class='bx bxs-calendar'></i> <h3>Date of birth: 21 june 1990</h3>
                        </li>
                        <li>
                            <i class='bx bx-color'></i><h3>Freelance: Available</h3>
                        </li>
                        <li>
                            <i class='bx bx-home-alt'></i><h3>Address: Moscow, Russia</h3>
                        </li>
                        <li>
                            <i class='bx bxs-message-rounded-dots'></i><h3>Spoken Langages: French - German</h3>
                        </li>
                    </ul>
                  </div>
                  <div class="personal-details-col-2">
                    <ul>
                          <li>
                            <i class='bx bxs-map'></i><h3>Nationality: Shampala</h3>
                          </li>
                          <li>
                            <i class='bx bx-mobile-alt'></i><h3>Phone: +91 9025990521</h3>
                          </li>
                          <li>
                            <i class='bx bx-envelope' ></i><h3>Email: you@yourwebsite.com</h3>
                          </li>
                          <li>
                            <i class='bx bxl-skype' ></i><h3>Skype: jesica.silva</h3>
                          </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

</section>