<section id="blog">

    <div class="blog-title">

        <h2>Latest News</h2>
        <p>Latest Post - Lorem ipsum dolor</p>
        <div class="four-circles">
            <span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="blog-content">

        <div class="card">

            <div class="image">
                <img src="static/assets/post-1.jpg" alt="">
                 <div class="image-file"><a href="#"><i class='bx bx-link' ></i></a></div>
            </div>
            <div class="image-details">
                <h2>How To Create Logo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Volup cumque voluptati, inventore nobis.</p>

            </div>
            <div class="image-date">
                <div class="date"><i class='bx bxs-calendar' ></i><h3>Jun 15, 2018</h3></div>
                <div class="tag"><i class='bx bxs-purchase-tag'></i><h3>Technology</h3></div>
            </div>

        </div>

        <div class="card">
            
            <div class="image">
                <img src="static/assets/post-2.jpg" alt="">
                 <div class="image-file"><a href="#"><i class='bx bx-link' ></i></a></div>
            </div>
            <div class="image-details">
                <h2>How To Create Logo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Volup cumque voluptati, inventore nobis.</p>

            </div>
            <div class="image-date">
                <div class="date"><i class='bx bxs-calendar' ></i><h3>Jun 15, 2018</h3></div>
                <div class="tag"><i class='bx bxs-purchase-tag'></i><h3>Technology</h3></div>
            </div>
        </div>

        <div class="card">
            
            <div class="image">
                <img src="static/assets/post-3.jpg" alt="">
                 <div class="image-file"><a href="#"><i class='bx bx-link' ></i></a></div>
            </div>
            <div class="image-details">
                <h2>How To Create Logo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Volup cumque voluptati, inventore nobis.</p>

            </div>
            <div class="image-date">
                <div class="date"><i class='bx bxs-calendar' ></i><h3>Jun 15, 2018</h3></div>
                <div class="tag"><i class='bx bxs-purchase-tag'></i><h3>Technology</h3></div>
            </div>
        </div>
    </div>

    

</section>

<div class="logo-slider">

    <div class="logo-cards">
        <img src="static/assets/brand-1.png" alt="">
        <img src="static/assets/brand-2.png" alt="">
        <img src="static/assets/brand-3.png" alt="">
        <img src="static/assets/brand-4.png" alt="">
        <img src="static/assets/brand-5.png" alt="">
    </div>

    <div class="logo-cards">
        <img src="static/assets/brand-1.png" alt="">
        <img src="static/assets/brand-2.png" alt="">
        <img src="static/assets/brand-3.png" alt="">
        <img src="static/assets/brand-4.png" alt="">
        <img src="static/assets/brand-5.png" alt="">
    </div>
</div>