
<section id="contact">

    <div class="contact-title">
        <span></span><span></span>
        <h2>Get in touch</h2>
        <p>Feel free to drop me a line - Contact us</p>
        <div class="four-circles"><span></span><span></span><span></span><span></span></div>

    </div>
    <div class="contact-content">

        <div class="contact-form">
            <span></span><span></span>
            <div class="contact-id"><input type="text" placeholder="Enter Your Name"><input type="text" placeholder="Enter Your Email"></div>
            <input type="text" placeholder="Subject">
            <textarea name="" id="" rows="5" cols="50" placeholder="How can i help you"></textarea>
            <div class="contact-btn">
                <button>Contact Now</button>
            </div>
        </div>
    </div>

    <div class="contact-informations">

          <div class="contact-card">
             <span></span><span></span>
            <h2>Address</h2>
            <h3>123 lorem ipsum New Stree</h3>
            <h3>City Name New York, USA.</h3>
          </div>
          <div class="contact-card">
            <span></span><span></span>
            <h2>Phone No</h2>
            <h3>+91 9025990521</h3>
            <h3>+91 9025990521</h3>
          </div>
          <div class="contact-card">
            <span></span><span></span>
            <h2>Emails</h2>
            <h3>info@websitename.com</h3>
            <h3>inquiry@websitename.com</h3>
          </div>
  
        </div>

        <div class="contact-footer">
            <h2>Jenny Sipher</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="social-media-links">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-pinterest-alt' ></i></a>
            </div>
            
        </div>

</section>

<div class="mader"><div class='maded'><i class='bx bx-happy-heart-eyes'></i><i class='bx bx-wink-smile'></i><i class='bx bx-donate-heart'></i><h3>Made By Savith</h3></div></div>