
<header class="header">
    {% comment %} logo {% endcomment %}
 <div class="logo">
    <span>Jenny</span>
    <span>Sipher</span>
 </div>
 <nav>
    <ul>
        <li draggable="false"><a href="#" draggable="false">Home</a></li>
        <li draggable="false"><a href="#About" draggable="false">About</a></li>
        <li draggable="false"><a href="#services" draggable="false">services</a></li>
        <li draggable="false"><a href="#resume" draggable="false">resume</a></li>
        <li draggable="false"><a href="#Portfolia" draggable="false">portfolia</a></li>
        <li draggable="false"><a href="#pricing" draggable="false">prizing</a></li>
        <li draggable="false"><a href="#blog" draggable="false">blog</a></li>
        <li draggable="false"><a href="#contact" draggable="false">contact</a></li>
    </ul>
   
 </nav>
 <div class="menu-icon"><i class='bx bx-menu'></i></div>

</header>