<div class='header_content' id="Home">

    <div class="header-sub-contents">
        <div class="content-1"><h4>Hi There! I'm</h4></div>
        <div class="content-2">
            <div class="txt-container">
                <h4 class="is_visible">Web Designer</h4>
                <h4>Ui/UX Designer</h4>
            </div>       
        </div>
        <div class="content-3">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
            </p>
        </div>
        <div class="content-4">
             <button class="download-btn">Download CV</button>
        </div>
    </div>

</div>