<section id='Portfolia'>
     <div class="portfolia-title">
         <h2>Portfolia</h2>
         <p>See My Works - Lorem ipsum dolor</p>
         <div class="four-circles"><span></span><span></span><span></span><span></span></div>
     </div>
     <div class="portfolia-content">
        <div class="gallery-container">
            <div class="gallery-links">
                <button class="btn-focus" value="All">All</button>
                <button value="Designing">Designing</button>
                <button value="Graphic">Graphics</button>
                <button value="Websites">Websites</button>
            </div>
            <div class="gallery-items">
               
                <div class="item Designing visible"><img src="static/assets/portfolio-1.jpg" alt=""><span>Designing</span></div>
                <div class="item Designing visible"><img src="static/assets/portfolio-2.jpg" alt=""><span>Designing</span></div>
                <div class="item Websites visible"><img src="static/assets/portfolio-3.jpg" alt=""><span>Websites</span></div>
                <div class="item Graphic visible"><img src="static/assets/portfolio-4.jpg" alt=""><span>Graphic</span></div>
                <div class="item Graphic visible"><img src="static/assets/portfolio-5.jpg" alt=""><span>Graphic</span></div>
                <div class="item Designing visible"><img src="static/assets/portfolio-6.jpg" alt=""><span>Designing</span></div>
                <div class="item Graphic visible"><img src="static/assets/portfolio-7.jpg" alt=""><span>Graphic</span></div>
                <div class="item Websites visible"><img src="static/assets/portfolio-8.jpg" alt=""><span>Websites</span></div>
            </div>
        </div>
     </div>
</section>