<section id="pricing">
    <div class="pricing-title">
        <h2>Our Pricing</h2>
        <p>Our Reasonable prices - Lorem ipsum dolor</p>
        <div class="four-circles"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="pricing-content">

        <div class="card" style="--delay:1"><span></span><span></span>
            <div class="card-title"><i class='bx bx-cog'></i>
                <h2>Basic</h2>
                 <div class="card-prize">
                    <h1>$29</h1><h4>/month</h4>
                 </div> 
            </div>
            <ul class="card-features">
                <li>Designing a small Brand</li>
                <li>Redesign the company logo</li>
                <li>New visual design of the website</li>
                <li>Deploying a website</li>
                <li>Studio and product photography</li>
                <li>professional project support</li>
                <li>support and care</li>
            </ul>
            <div class="card-btn"><button>Get Started</button></div>
        </div>
        <div class="card" style="--delay:2"><span></span><span></span>
            <div class="feature"><h3>Featured</h3></div>
            <div class="card-title">
                <i class='bx bxs-cricket-ball' ></i>
                <h2>Standard</h2>
                 <div class="card-prize">
                    <h1>$39</h1><h4>/month</h4>
                 </div> 
            </div>
            <ul class="card-features">
                <li>Designing a small Brand</li>
                <li>Redesign the company logo</li>
                <li>New visual design of the website</li>
                <li>Deploying a website</li>
                <li>Studio and product photography</li>
                <li>professional project support</li>
                <li>support and care</li>
            </ul>
            <div class="card-btn"><button>Get Started</button></div>
        </div>
        <div class="card" style="--delay:3"><span></span><span></span>
            <div class="card-title">
                <i class='bx bx-shield-plus'></i>
                <h2>Silver</h2>
                 <div class="card-prize">
                    <h1>$49</h1><h4>/month</h4>
                 </div> 
            </div>
            <ul class="card-features">
                <li>Designing a small Brand</li>
                <li>Redesign the company logo</li>
                <li>New visual design of the website</li>
                <li>Deploying a website</li>
                <li>Studio and product photography</li>
                <li>professional project support</li>
                <li>support and care</li>
            </ul>
            <div class="card-btn"><button>Get Started</button></div>
        </div>
    </div>
</section>