
<section id='resume'>

    <div class='resume-title'>
        <h2>My Resume</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <div class="four-circles">
            <span></span><span></span><span></span><span></span>
        </div>
    </div>
    <div class='resume-content'>
        <div class="resume-sub-content">
            <div class="resume-card-title">
                <i class='bx bxs-briefcase'></i>
                <h2>EXPERIANCE</h2>
            </div>

            <div class="resume-card-wrapper">
                <div class="card-container">

                    <div class="card" draggable='false'>
                        <h3>2004-2006</h3>
                        <h2>UI-UX DEVLOBER TIDALPARK</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>

                    <div class="card" draggable='false'>
                        <h3>2004-2006</h3>
                        <h2>GRAPHICS DESIGNER TIDALPARK</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p> 
                    </div>

                    <div class="card" draggable='false'>
                        <h3>2004-PRESENT</h3>
                        <h2>FULL-STACK DEVLOBER GOOGLE</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>               
                    </div>

                </div>

                
            </div>
        </div>
        <div class="resume-sub-content">
            <div class="resume-card-title">
                <i class='bx bxs-graduation'></i>
                <h2>EDUCATION</h2>
            </div>

            <div class="resume-card-wrapper">
                <div class="card-container">
                    <div class="card" draggable='false'>
                        <h3>2000-2004</h3>
                        <h2>POBITO UNIERSITY-INDIA</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>            
                    </div>
                    <div class="card" draggable='false'>
                        <h3>2004-2008</h3>
                        <h2>SYED AMMAL UNIVERSITY-TAMIL NADU</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>   
                    </div>
                    <div class="card" draggable='false'>                        
                        <h3>2004-2006</h3>
                        <h2>HARWARD UNIVERSITY-U.S.A</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p> 
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="resume-skills">
        <div class="skills">
            <div class="skill-title"><i class='bx bx-star'></i><h2>MY SKILLS</h2></div>
            <div class="skill-content">
                <ul class='skills-sub-content'>
                    <li><h3>HTML 5</h3>
                    <div class="skill-icons">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                    </div>
                    </li>
                    <li><h3>PHP</h3>
                        <div class="skill-icons">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div></li>
                    <li><h3>JAVASCRIPT</h3>
                        <div class="skill-icons">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        </div></li>
                </ul>
                <ul class='skills-sub-content'>
                    <li><h3>CSS3</h3>
                        <div class="skill-icons">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div></li>
                    <li><h3>DJANGO</h3>
                        <div class="skill-icons">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div></li>
                    <li><h3>PYTHON</h3>
                        <div class="skill-icons">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div></li>
                </ul>
            </div>
        </div>
        <div class="facts">
            <div class="fact-title"><i class='bx bxs-heart' ></i><h2>FUN FACTS</h2></div>
            <div class="fact-content">
                <div class="fact-sub-content">
                    <div class="fact-sub-content-card">
                        <i class='bx bxs-wink-smile'></i>
                        <div class="fact-sub-content-card-details">
                            <h2 class='fact-h2-1'>0</h2>
                            <h4>Happy Cleints</h4>
                        </div>
                    </div>

                    <div class="fact-sub-content-card">
                        <i class='bx bxs-award' ></i>
                        <div class="fact-sub-content-card-details">
                            <h2 class='fact-h2-2'>0</h2>
                            <h4>Awards Received</h4>
                        </div>
                    </div>
                </div>
                <div class="fact-sub-content">
                    <div class="fact-sub-content-card">
                        <i class='bx bxl-python'></i>
                        <div class="fact-sub-content-card-details">
                            <h2 class='fact-h2-3'>0</h2>
                            <h4>Projects Done</h4>
                        </div>
                    </div>
                    <div class="fact-sub-content-card">
                        <i class='bx bx-user' ></i>
                        <div class="fact-sub-content-card-details">
                            <h2 class='fact-h2-4'>0</h2>
                            <h4>User Rattings</h4>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>