
<section id='services'>
    <div class='services-title'>
        <h2>My Services</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <div class="four-circles">
            <span></span><span></span><span></span><span></span>
        </div>
    </div>
    <div class='services-content'>
        <div class='services-sub-content' style="--carddelay:1"><span></span><span></span>
          <div class="service-card">
          <i class='bx bxl-chrome'></i>
           <h3>Web Design</h3>
           <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.Doloribus assumenta voluptas</p>
          </div>
        </div>
        <div class='services-sub-content' style="--carddelay:2"><span></span><span></span>
            <div class="service-card">
                <i class='bx bx-world' ></i>
                 <h3>Web Devlober</h3>
                 <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.Doloribus assumenta voluptas</p>
                </div>
        </div>
        <div class='services-sub-content' style="--carddelay:3"><span></span><span></span>
                <div class="service-card">
                 <i class='bx bxs-photo-album' ></i>
                 <h3>Photography</h3>
                 <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.Doloribus assumenta voluptas</p>
                </div>
        </div>
        <div class='services-sub-content' style="--carddelay:4"><span></span><span></span>
            <div class="service-card">
                <i class='bx bxs-analyse' ></i>
                <h3>SEO Analyst</h3>
                <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.Doloribus assumenta voluptas</p>
               </div>
        </div>
        <div class='services-sub-content' style="--carddelay:5"><span></span><span></span>
            <div class="service-card">
                <i class='bx bx-medal'></i>
                <h3>Creative Design</h3>
                <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.Doloribus assumenta<voluptas</p>
               </div>
        </div>
        <div class='services-sub-content' style="--carddelay:6"><span></span><span></span>
            <div class="service-card">
                <i class='bx bxs-user-voice'></i>
                <h3>24 X 7 Support</h3>
                <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit.Doloribus assumenta voluptas</p>
               </div>
        </div>
    </div>
</section>