<section id="team-members">
    <div class="team-members-title">
        <h2>Team members</h2>
        <p>Meet the team - Lorem ipsum dolor</p>
        <div class="four-circles"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="team-members-content">
        <div class="item" style="--delay:1"><img src="static/assets/team-1.jpg" alt=""><div class="member-details">
            <h3>Keerthi</h3><h4>Digital Producer</h4></div></div>
        <div class="item" style="--delay:2"><img src="static/assets/team-2.jpg" alt=""><div class="member-details">
            <h3>Liya</h3><h4>SEO Analyst</h4>
        </div></div>
        <div class="item" style="--delay:3"><img src="static/assets/team-3.jpg" alt=""><div class="member-details">
            <h3>Black Rose</h3><h4>Web Devlober</h4>
        </div></div>
        <div class="item" style="--delay:4"><img src="static/assets/team-4.jpg" alt=""><div class="member-details">
            <h3>White Rose</h3><h4>HR Manager</h4>
        </div></div>
    </div>
</section>