<section id="testimonials">
    <div class="testimonials-title">
        <h2>Testimonials</h2>
        <p>Happy Clients Says - Lorem ipsum dolor</p>
        <div class="four-circles"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="testimonials-content">
        <div class="wrapper">
             <div class="slider">
                <div class="card" draggable='false'>
                    <img src="static/assets/author-1.jpg" alt="" draggable='false'>
                     <h2>Liya</h2>
                     <h3>Founder at Aist</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                </div>
                <div class="card" draggable='false'>
                    <img src="static/assets/author-2.jpg" alt="" draggable='false'>
                    <h2>Black rose</h2>
                    <h3>Founder at Aist</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                </div>
                <div class="card" draggable='false'>
                    <img src="static/assets/author-3.jpg" alt="" draggable='false'>
                    <h2>White rose</h2>
                    <h3>Founder at Aist</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                </div>
             </div>
        </div>
        <div class="slider-indicator">
            <span class='show'></span>
            <span></span>
            <span></span>
        </div>
    </div>

   
</section>

<div class="sign-up-section">
    <div class="sign-up-title">
        <h2>Sign Up For Newsletter</h2>
        <p>Join our subscribers list to get the latest news updates and special offers.</p>
</div>
    <div class="sign-up-btn"><input type="text" placeholder="Enter Your Email"><a href="#"><i class='bx bx-search-alt'></i></a></div>
</div>